<header class="bar bar-nav connectHeader" id="header">
	 <a href="#" class="icon icon-left-nav pull-left white" id="connectBack"></a>
  <h1 class="title white">Connect</h1>
</header>
 <div class="content" id="main">

	<div id="list"></div>

</div>