<header class="bar bar-nav connectHeader" id="header">
	 <a href="#" class="top-icon home-icon white" id="connectBack"></a>
  <h1 class="title white">Explore</h1>
</header>
 <div class="content" id="main">

	<div id="list"></div>

</div>
