<header class="bar bar-nav">
	 <a href="#" class="icon icon-left-nav pull-left" id="connectBack"></a>
  <h1 class="title">Connect</h1>
</header>
 <div class="content">

 <ul></ul>

<nav class="bar bar-tab">
  <a class="tab-item" href="#/play">
    <span class="icon icon-home"></span>
    <span class="tab-label">Play</span>
  </a>
  <a class="tab-item active" href="#/connect">
    <span class="icon icon-person"></span>
    <span class="tab-label">Connect</span>
  </a>
  <a class="tab-item" href="#/discover">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">Discover</span>
  </a>
</nav>
</div>