<a>
<div class="circle-container-list">
	<img class="curator-small-round" src="data/images/connect-images/{{curator-image}}">
</div>
	<h1 class="curator-heading-list">{{curator}}</h1>
	<p class="connect-heading-list padded-sides">{{title}}</p>
</a>
