<header class="bar bar-nav discoverHeader" id="header">
	 <a href="#" class="back-arrow white" id="discoverBack"></a>
  <h1 class="title white">Discover</h1>
</header>
 <div class="content" id="main">


	<h1 class="curator-heading-list-discover">{{curator}}</h1> 
	<p class="discover-heading-list padded-sides">{{title}}</p>
 </div>