<div class="play block-extra" id="play-block">
	<a href="#" class="block-centre" id="play">
		<h2 class="home-icons"><span class="custom-icon play-icon"></span>Play</h2>
	</a>
</div>

<div class="connect block" id="connect-block">
	<a href="#" class="block-centre" id="connect">
		<h2 class="home-icons">Connect</h2>
	</a>
</div>

<div class="discover block" id="discover-block">
	<a href="#" class="block-centre" id="discover">
		<h2 class="home-icons">Discover</h2>
	</a>	
</div>        
 
