<div class="play block-extra" id="play-block">
	<a href="#/play" class="block-centre" id="play">
		<span class="home-icons">Play</span>
	</a>
</div>

<div class="connect block" id="connect-block">
	<a href="#/connect" class="block-centre" id="connect">
		<span class="home-icons">Connect</span>
	</a>
</div>

<div class="discover block" id="discover-block">
	<a href="#/discover" class="block-centre" id="discover">
		<span class="home-icons">Discover</span>
	</a>	
</div>        
 
