<div class="play block" id="play">
    <div class="text-wrapper">
  		<span class="custom-icon play-icon"></span>
      <h2 class="home-heading">Play</h2>
      <p class="home-text">Test your knowledge of Arab Art and learn new fun facts</p>
    </div>
</div>

<div class="connect block" id="connect">
  <div class="text-wrapper">
		<span class="custom-icon connect-icon"></span>
    <h2 class="home-heading">Connect</h2>
    <p class="home-text">Art lovers and experts present mini-exhibits from our collection</p>
  </div>
</div>
