 <div style="width:100%; height :100%;  background-color:Lime;">
        <div style="width:100%; height:34%; background-color:Blue;">
        <a href="#/play" id="play">Play</a>
        </div>
        <div style="width:100%; height:33%; background-color:Gray;">
        <a href="#/connect" id="connect">Connect</a>
        </div>
        <div style="width:100%; height:33%; background-color:Aqua;">
        <a href="#/discover" id="discover">Discover</a>
        </div>        
    </div>
