<ul class="table-view">
  <li class="table-view-cell">
      <a href="#/play" class="navigate-right" id="play">Play</a>
  </li>
  <li class="table-view-cell">
    <a href="#/connect" class="navigate-right" id="connect">Connect</a>
  </li>
  <li class="table-view-cell">
  <a href="#/discover" class="navigate-right" id="discover">Discover</a>
  </li>
</ul>