<div class="content full-height {{title}}">
	<a href="#/connect/" class="block-centre-landing" id="connect">
		<h1 class="landing-title">{{title}}</h1> 
		<p class="landing-description">{{description}}</p>
	</a>	
</div>