<div class="modal-title">
	<span class="icon icon-close pull-right modal-icon"></span>
</div>
<img class="large-image" src="{{secondArtworkUrl}}">
<div class="modal-text">
	<h1 class="image-heading">{{secondArtworkTitle}}</h1>
	<p class="padded-sides">{{secondArtworkArtist}}</p>
</div>