<header class="bar bar-nav">
	 <a class="icon icon-left-nav pull-left" id='playBack'></a>
  <h1 class="title">Play</h1>
</header>
 <div class="content">
<nav class="bar bar-tab">
  <a class="tab-item active" href="#/play">
    <span class=""></span>
    <span class="tab-label">Play</span>
  </a>
  <a class="tab-item" href="#/connect">
    <span class=""></span>
    <span class="tab-label">Connect</span>
  </a>
  <a class="tab-item" href="#/discover">
    <span class=""></span>
    <span class="tab-label">Discover</span>
  </a>
</nav>

</div>
