<header class="bar bar-nav playHeader" id="header">
	 <a href="#" class="top-icon home-icon white" id="playBack"></a>
  <h1 class="title white">Play</h1>
</header>
 <div class="content" id="main">
 	<div class="playWrapper">
		<div id="question"></div>
		<div id="wrong"></div>
		<div id="right"></div>
		<div id="lives"></div>
	</div>
</div>

<div id="modal" class="modals-container"></div>
