<div id="correct-image-one-large" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#correct-image-one-large"></a>
    <h1 class="title">{{firstArtwork}} by Kader Attia</h1>
  </header>
  <div class="content">
    <img class="large-image" src="http://www.barjeelartfoundation.org/wordpress/wp-content/uploads/2012/12/kader-attia-demoncracy.jpg">
  </div>
</div>

<div id="correct-image-two-large" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#correct-image-two-large"></a>
    <h1 class="title">Plotting Table by Mona Hatoum</h1>
  </header>
  <div class="content">
    <img class="large-image" src="http://www.barjeelartfoundation.org/wordpress/wp-content/uploads/2013/01/Mona-Hatoum-Plotting-Table-1998-xvga-8.jpg">
  </div>
</div>