<p class="delta score">Score</p>
<h1 class="alpha">{{correctCounter}} / {{questionCounter}} </h1>
<h2 class="gamma no-margin">Out of lives</h2>
<p class="delta no-margin">Why not play again?</p>
<button class="play-again btn btn-link btn-nav">
	Play
	<span class="forward-arrow"></span>
</button>
