<div id="right">
<div class="wrap">
	<div class="correct-image-wrapper correct-image-one">
		<img class="correct-image" src="data/images/play-images/{{firstArtwork}}-square.jpg" alt="Image of the first connection answer">	
	</div>

	<span class="correct-question-arrow"></span>

	<div class="correct-image-wrapper correct-image-two">
		<img class="correct-image" src="data/images/play-images/{{secondArtwork}}-square.jpg" alt="Image of the second connection answer">
	</div>	
</div>	
	<a href="#correct-image-one-large" class="btn">View image</a>
	<a href="#correct-image-two-large" class="btn">View image</a>
	<h1 class="correct-title">Right</h1>
	<p class="gamma">{{explanation}}</p>
	<button class="next btn btn-link btn-nav">
	    Next
	    <span class="forward-arrow"></span>
	  </button>
</div>


