<header class="bar bar-nav playHeader">
	 <a class="icon icon-left-nav pull-left white" id='playBack'></a>
  <h1 class="title white">Play</h1>
</header>
 <div class="content">

 	<div id="question"></div>

</div>
