<p class="gamma score">Score</p>
<h1 class="alpha">{{correctCounter}}</h1>
<h2 class="gamma">Out of lives</p>
<p class="delta">Why not play again</p>
<button class="play-again btn btn-link btn-nav">
	Play
	<span class="icon icon-right-nav"></span>
</button>