<a href="#" class="top-icon-right close-cross modal-icon"></a>
<div class="modal-image-wrapper">
	<img class="large-image" src="{{secondArtworkUrl}}" data-at2x="{{secondArtworkUrl-retina}}">
	<h1 class="image-heading hidden" id="offline-message">You need to be online to view this image</h1>
</div>
<div class="modal-text">
	<h1 class="image-heading">{{secondArtworkTitle}}</h1>
	<p class="padded-sides">{{secondArtworkArtist}}</p>
</div>
