<div class="modal-title">
	<span class="icon icon-close pull-right modal-icon"></span>
</div>
<img class="large-image" src="{{secondArtworkUrl}}" data-at2x="{{secondArtworkUrl-retina}}">
<h1 class="image-heading" id="offline-message">You need to be online to view this image</h1>
<div class="modal-text">
	<h1 class="image-heading">{{secondArtworkTitle}}</h1>
	<p class="padded-sides">{{secondArtworkArtist}}</p>
</div>