<h2 class="question-connection">What's the connection?</h2>
<div class="question-arrow">&nbsp;</div>	
<h3 class="question">{{{question}}}</h3>
<div class="questionOptions">
{{#each choices}}

<div class="questionWrapper" id="question-{{@index}}" data-answer="{{@index}}">
	<div class="questionOption">{{this}}</div>	
</div>

{{/each}} 
</div>