<h1 class="beta">Game over!</h1>
<p class="gamma">You scored: {{correctCounter}}</p>
		<button class="play-again btn btn-link btn-nav">
	    Play again
	    <span class="icon icon-right-nav"></span>
	  </button>