<div class="modal-icon close-cross top-icon-right"></div>
<div class="modal-image-wrapper">
	<img class="large-image" src="{{firstArtworkUrl}}" data-at2x="{{firstArtworkUrl-retina}}">
	<h1 class="image-heading hidden" id="offline-message">You need to be online to view this image</h1>
</div>
<div class="modal-text">
	<h1 class="image-heading">{{firstArtworkTitle}}</h1>
	<p class="padded-sides">{{firstArtworkArtist}}</p>
</div>
