.connectHeader {
	background: $barjeel-grey;
	color: white;
	text-transform: uppercase;
}

.connect-list {
	float: left;
	width: 49%;
	padding-top: 1rem;
	padding-left: 1%;
}

#list {
	padding-top: $base-spacing-unit;
}

.curator-heading-list {
	@extend .delta;
	text-transform: uppercase;
	color: $barjeel-grey;
	text-align: center;
	margin-bottom: 0;
	padding-top: $base-spacing-unit-smallest;
}

.connect-heading-list {
	@extend .delta;
	text-transform: capitalize;
	color: $barjeel-red;
	text-align: center;
}

.circle-container-list {
	max-width: $base-spacing-unit*8;
	padding: 0;
	margin: auto;
}

.curator-image {
	width: 100%;
	max-width: 400px;

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) { 
		  
		max-width: 800px;
	}
}


.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  text-align: center;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.slider {
	background: white;
	text-align: center;
}

.slide .slider-image {
	background: $barjeel-grey;
	width: 100%;
	max-width: 520px;

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) { 
		  
		max-width: 1020px;
	}
}

.curator-heading {
	padding-top: $base-spacing-unit-small;
	margin-bottom: $base-spacing-unit-small;
	color: $barjeel-red;
	@extend .delta;
	text-transform: uppercase;

}

.connect-heading {
	color: $barjeel-grey;
	line-height: 2.9rem;
	margin-bottom: $base-spacing-unit;
}

.circle-container {
	max-width: $base-spacing-unit*6;
	padding-top: $base-spacing-unit*2;
	margin: auto;
}

.curator-small-round {
	position: relative;
	border-radius: 50%;
	width: 100%;
	border: 2px solid $barjeel-grey;
}

.image-heading {
	@extend .delta;
	text-transform: uppercase;
	padding-top: $base-spacing-unit;
	margin-bottom: $base-spacing-unit-small;
}
