.discoverHeader {
	background: $barjeel-blue;
	color: white;
	text-transform: uppercase;
}

.circle-container-list-discover {
	max-width: $base-spacing-unit*12;
	padding: 0;
	margin: auto;
}

.discover-list {
	padding: $base-spacing-unit*2 0;
}

.discover-list:nth-child(odd) {
    background-color: $barjeel-light-grey;
}

.curator-heading-list-discover {
	@extend .delta;
	text-transform: uppercase;
	color: $barjeel-red;
	text-align: center;
	margin-bottom: 0;
	padding-top: $base-spacing-unit-smallest;
}

.discover-heading-list {
	@extend .delta;
	color: $barjeel-grey;
	text-align: center;
}