.block {
	width:100%;
	height:50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.custom-icon {
	display: block;
  width: 4rem;
  height: 4rem;
  margin-bottom: $base-spacing-unit-small;
}

.play {
	background-color: $barjeel-red;
}

.play-icon {
  background: url(../images/play.svg) center center no-repeat transparent;
  background-size: 4rem 4rem;
  margin: 0 auto;
  margin-bottom: $base-spacing-unit-small;
}

.connect-icon {
  background: url(../images/connect.svg) center center no-repeat transparent;
  background-size: 4rem 4rem;
  margin: 0 auto;
  margin-bottom: $base-spacing-unit-small;
}

.connect {
	background-color: $barjeel-grey;
}

.text-wrapper {
  text-align: center;
  width: 66%;
}

.home-heading {
  display: block;
  color:#fff;
  text-transform: uppercase;
  font-size: $barjeel-heading-size-3;
  line-height: $barjeel-line-height-3;
  margin-bottom: 0;
}

.home-text {
  display: block;
  color:#fff;
  font-size: $barjeel-heading-size-5;
  line-height: $barjeel-line-height-5;
}

.home-icons {
	text-transform: uppercase;
	@extend .gamma;
}
