.block {
	width:100%; 
	height:33%
}

.block-extra {
	width:100%; 
	height:34%
}

.play {
	background-color: $barjeel-red;
}

.custom-icon {
	display: block;
  width: 3em;
  height: 3em;
  margin: auto;
  margin-bottom: $base-spacing-unit-small;
}

.play-icon {
  background: url(../images/play.svg) no-repeat scroll center transparent;
  background-size: 3em 3em;
}

.connect-icon {
  background: url(../images/connect.svg) no-repeat scroll center transparent;
  background-size: 3em 3em;
}

.discover-icon {
  background: url(../images/discover.svg) no-repeat scroll center transparent;
  background-size: 3em 3em;
}

.connect {
	background-color: $barjeel-grey;
}

.discover {
	background-color: $barjeel-blue;
}

.block-centre {
   // width:50%;
    height:50%;
    position:relative;
    display: block;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
}

.block-centre h2 {
		display: block;
    width:50%;
    text-align:center;  
    color:#fff;
    position:relative;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);

@media only screen 
 and (max-device-width: 480px) {
 	font-size: 1rem;
}

}

.home-icons {
	text-transform: uppercase;
	@extend .gamma;
}