.block-centre-landing {
	position:relative;
  display: block;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
	width: 65%;
}

.icon-landing {
	display: block;
  width: 3em;
  height: 3em;
  margin: auto;
  margin-bottom: $base-spacing-unit-small;
}

.play-icon-landing {
  background: url(../images/play.svg) no-repeat scroll center transparent;
  background-size: 3em 3em;
}

.connect-icon-landing {
  background: url(../images/connect.svg) no-repeat scroll center transparent;
  background-size: 3em 3em;
}

.discover-icon-landing {
  background: url(../images/discover.svg) no-repeat scroll center transparent;
  background-size: 3em 3em;
}
 
.landing-title {
	color: white;
	text-align: center;
	text-transform: capitalize;
}

.landing-description {
	font-size: $barjeel-heading-size-3;
	line-height: $barjeel-line-height-3; 
	color: white;
	text-align: center;
}