
//modal window overrides

.modal-image-wrapper {
  display: block;
  width: 100%;
}

.modal-text {
	text-align: center;
}

.hit-area-one {
  position: absolute;
  margin: auto;
  top: 50%;
  left: -50%;
  right: 0;
  z-index: 100;
  width: 48%;
  height: 10rem;
}

.hit-area-two {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  right: 0;
  z-index: 100;
  width: 48%;
  height: 10rem;
}


#offline-message {
	text-align: center;
	color: white;
  width: 100%;
  margin: 0 auto;
  background: $barjeel-grey;
  padding: 20px;
}
