
@import '../bower_components/ratchet/sass/ratchet.scss';

@import "compass";
* {
  box-sizing: border-box;
}

@import "connect";

@font-face {
  font-family: Ratchicons;
  font-weight: normal;
  font-style: normal;
  src: url('../bower_components/ratchet/fonts/ratchicons.eot');
  src: url('../bower_components/ratchet/fonts/ratchicons.eot?#iefix') format('embedded-opentype'),
       url('../bower_components/ratchet/fonts/ratchicons.woff') format('woff'),
       url('../bower_components/ratchet/fonts/ratchicons.ttf') format('truetype'),
       url('../bower_components/ratchet/fonts/ratchicons.svg#svgFontName') format('svg');
}


h1 {
  font-weight: normal;
}

a {
  color: #F2994B;
}


