<div id="right">
	<h1 class="beta">Right</h1>
	<p class="gamma">{{explanation}}</p>
	<button class="next btn btn-link btn-nav">
	    Next
	    <span class="icon icon-right-nav"></span>
	  </button>
</div>