<div id="wrong">
	<h1 class="beta">Wrong</h1>
	<p class="gamma">Why not take another guess?</p>
		<button class="try-again btn btn-link btn-nav">
	    Try again
	    <span class="icon icon-right-nav"></span>
	  </button>
</div>	