<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.barjeelartfoundation.barjeel"
        version   = "1.0.0">

	<name>Barjeel Art Foundation</name>
	<description>An app for Barjeel Art Foundation.</description>

	<preference name="phonegap-version" value="3.7.0" />
	<preference name="orientation" value="default" />        
  <preference name="target-device" value="universal" />      <!-- all: possible values handset, tablet, or universal -->
  <preference name="fullscreen" value="true" />           <!-- all: hides the status bar at the top of the screen -->
 	<preference name="load-url-timeout"           value="1000" />

	<!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->     
  <preference name="ios-statusbarstyle"         value="black-opaque" />  

	<author href="http://wearethoughtfox.com" email="hello@wearethoughtfox.com">
		Clint McLean, Una Janicijevic, Rob Carroll 
	</author>
	
	<gap:platforms>
   <gap:platform name="android" minVersion="2.3" />
   <gap:platform name="ios" />
</gap:platforms>

</widget>
